body {
    margin: 0;
    background-color: white;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
}


svg {
    height: 100vh;
    width: 100%;
    display: block;
    position: absolute;
    top: auto;
    left: auto;
}


.svg-toggle {
    position: absolute;
    display: block;
    height: 150px;
    width: 150px;
    top: 10%;
    left: 75%;
    cursor: pointer;
}
